/* Styles for the main container holding the sidebar and content */
.home-maindiv {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Styles for the sidebar */
.sidebar {
  background-color: chartreuse;
  width: 20%;
  height: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
}

/* Styles for the button container within the content */
.button-container {
  display: flex;
  height: 3.5rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-left: 55rem;
  margin-top: 1.5rem;
}

/* Styles for the container holding the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
}

/* Styles for the toggle icon within the header */
.toggle-icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  padding-right: 3rem; 
}

/* Styles for the header of the sidebar */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
