.home-maindiv {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: chartreuse;
  width: 20%;
  height: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.button-container {
  display: flex;
  height: 3.5rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-left: 55rem;
  margin-top: 1.5rem;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem; 
  
}
